<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="group.zerry.jiaxiao.dao.OrderTestDao">
	<select id="selectOrderTestByDate" resultType="OrderTestInfo">
		SELECT
			stu_inf.`name` AS student_name,
			test_inf.state AS test_state,
			test_inf.start_time,
			score
		FROM
			order_test_inf,
			stu_inf,
			test_inf
		WHERE
			test_inf.start_time = #{date}
		AND stu_inf.id = order_test_inf.stu_id
		AND test_inf.id = order_test_inf.test_id
	</select>

	<select id="selectOrderTestByStuId" resultType="OrderTestInfo">
		SELECT
			stu_inf.`name` AS student_name,
			test_inf.state AS test_state,
			test_inf.start_time,
			score
		FROM
			order_test_inf,
			stu_inf,
			test_inf
		WHERE
			stu_inf.id = #{0}
		AND stu_inf.id = order_test_inf.stu_id
		AND test_inf.id = order_test_inf.test_id		
	</select>
	
	<insert id="addOrderTest">
		INSERT INTO order_test_inf (stu_id, test_id)
			VALUES
		(#{0}, #{1})
	</insert>
</mapper>
