<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="group.zerry.jiaxiao.dao.StudentDao">
	
	<select id="selectStudents" resultType="Student">
		SELECT
			*
		FROM
			stu_inf
	</select>
	
	<select id="selectStudentById" resultType="Student">
		SELECT
			*
		FROM
			stu_inf
		WHERE
			id = #{0}
	</select>
	
	<delete id="deleteStudent">
		DELETE
		FROM
			stu_inf
		WHERE
			id = #{stu_id}
	</delete>
	
	<insert id="addStudent" parameterType="Student">
		INSERT INTO stu_inf (
			id,
			NAME,
			register_time,
			pic,
			state
		)
		VALUES (
			#{id}, #{name}, now(), #{pic}, '科目1'
		)
	</insert>
	
</mapper>